{{#if msg}}
<h1>
  {{msg.title}}
</h1>
{{else}}
<h2></h2>
{{/if}}
{{!-- <h2>{{library.title}} Not in this library {{library.date}}!</h2> --}}
<form action="/librarys/{{msg.title}}?_method=put" 
method="post">
  <input type="text" name="library[title]" 
      placeholder="title" value="{{msg.title}}">
  <input type="number" name="library[date]" placeholder="date" value="{{msg.date}}"/>
  <button type="submit">enter</button>
</form>
<form action="/librarys/{{msg.title}}?_method=delete" 
method="post">
  <button type="submit">remove</button>
</form>
<form action="/librarys"/{{msg.title}}
method="post">
  <input type="text" name="library[title]" 
      placeholder="title" value="{{msg.title}}">
  <input type="number" name="library[date]" placeholder="date" value="{{msg.date}}"/>
  <button type="submit">add</button>
</form>